@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*{
    scroll-behavior: smooth;
}

.commonWidth{
    width: 87.5%;
    max-width: 1340px;
}

.BentoWidth{
    width: 89.7%;
    max-width: 1377px;
}

.white-div-inner-shadow {
 box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.06);
}

.white-div-inner-shadow:hover {
 box-shadow: inset 0 0 120px rgba(255, 255, 255, 0.1);
}

.subHeadingGradiant {
    background: #CDCDCD; /* fallback */
    background: linear-gradient(180deg, rgba(205, 205, 205, 1) 0%, #676767 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback for browsers that don't support background-clip */
}

.subHeadingGradiant2 {
    color: transparent;
    background: linear-gradient(180deg, rgba(167, 139, 250, 0.9) 0%, rgba(167, 139, 250, 0.75) 75%, rgba(0, 0, 0, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.headingGradiant{
     background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(167, 139, 250, 0.6) 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headingGradiant2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,    
    rgba(245, 245, 245, 0.7) 50%, 
    rgba(122, 122, 122, 0.75) 100%    
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardBgGradiant{
    background: #000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
}

.cardBgGradiantFromCorner{
    background: #FFFF;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cardBgRadialGradiant{
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.bgCardImage{
    background-image: url('../public/Home/BgPolyDesgine.svg');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: scroll; 
}

.progresiveImage{
    background-image: url('../public/Home/BgPolyDesgine.svg');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: scroll; 

     -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,1));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,1));
    mask-repeat: no-repeat;
    mask-size: cover;

}

.progresivePoster{
    background-image: url('../public/Home/BgPolyDesgine.svg');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: scroll; 

     -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0.02), rgba(0,0,0,0.5));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to top, rgba(0,0,0,0.02), rgba(0,0,0,0.5));
    mask-repeat: no-repeat;
    mask-size: cover;

}

.bg{
  --s: 200px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));

}

.projectCardImage{
    background-image: url('../public/Projects/snipppet.png');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: scroll; 
}

.project-cover:hover .projectCardImage{
  scale: 1.05;
}

.BentoGridTextGradiant{
    color: transparent;
    background: linear-gradient(0deg,rgba(221, 136, 222, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.BentoGridTextGradiant2{
    color: transparent;
    background: linear-gradient(0deg,#7893C6 45%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.BentoGridBgGradiant{
    background: #C1ACFF;
    background: radial-gradient(circle at 50% 90%, rgba(193, 172, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Hide scrollbar for webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Alternative: Hide scrollbar but keep scroll functionality */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-d-sheet: var(--d-sheet);
    --color-d-border: var(--d-border);
    --color-d-fg: var(--d-fg);
    --color-d-muted: var(--d-muted);
    --color-d-bg: var(--d-bg);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: #171717;
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --d-bg: hsl(0 0% 100%);
    --d-muted: hsl(0 0% 90%);
    --d-fg: hsl(0 0% 0%);
    --d-border: hsl(0 0% 90%);
    --d-sheet: hsl(0 0% 98%);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: hsl(0, 0%, 15%);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --d-bg: hsl(0 0% 10%);
    --d-muted: hsl(0 0% 20%);
    --d-fg: hsl(0 0% 100%);
    --d-border: hsl(0 0% 20%);
    --d-sheet: hsl(0 0% 12%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

